/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: SourceSansProBlack;
    src: url('assets/fonts/SourceSansPro-Black.ttf');
}

@font-face {
    font-family: CircularSTDBook;
    src: url('assets/fonts/CircularStd-Book.otf');
}