.global {
    position: absolute;
    left: 7%;
    top : 30%;
    text-align: left;
}

.text {
    margin-top: 1%;
    text-align: left;
}

.desc {
    font-family: CircularSTDBook;
    font-size: 30px;
    color: #242424;
}

.title {
    font-family: SourceSansProBlack;
    font-size: 80px;
    font: bold;
    color: #ED1733;
    margin: 0;
    line-height: 70px;
}

.line {
    height: 3px;
    width: 250px;
    background-color: #959595;
    margin-top: 7%;
    margin-bottom: 7%;
}

.button {
    background-color: #ED1733;
    padding: 25px 65px 25px 65px;
    margin-top: 10%;
    border: none;
    text-decoration: none;
    border-radius: 12px;
    color: white;
    font-size: 30px;
    font-family: CircularSTDBook;
}

p {
    margin: 0;
}